/*----- Universal Variables -----*/
:root {
	--black: #2D3047;
	--white: #E6EFEF;
	--lt-white: #F2F4F3;
	--indigo: #00477A;
	--vivid-blue: #0071ff;
	--blue: #77A6B6;
	--cream: #FFF3DF;
	--lt-pink: #FEEDDA;
	--pink: #E36A74;
	--lt-brown: #b47453;
	--brown: #642601;
	--dk-brown: #51230B;
	--blue: #77A6B6;
	--spotify-green: #1db954;
	--apple-red:  #ff0436;
	--yellow: #ffd587;
	--cream-brown: #CBAA98;
}

/*----- Universal -----*/
#app-screen {
	background-color: var(--white);
	position: relative;
}
header, main, footer, #content {
	position: relative;
	z-index: 1;
}
.button {
	border: none;
	margin: 0 auto;
	box-shadow: inset 6px 6px 8px 2px rgba(0, 0, 0, 0.1), inset 4px 6px 4px rgba(0, 0, 0, 0.06);
	cursor: pointer;
	padding-top: 2px;
}
.bold {
	font-weight: 700;
}
/*----- Contents -----*/
/*--- Header ---*/
header {
	height: 56px;
	display: grid;
	align-items: center;
}
#header-holder {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 6px;
	width: 25vw;
	cursor: pointer;
	color: var(--indigo);
}
header p {
	font-size: 16px;
	letter-spacing: .8px;
	font-family: "Tilt Warp";
}
#logo {
	height: 33px;
	width: 33px;
	margin-left: 16px;
}

/*--- main ---*/
main, .loading-holder  {
	min-height: calc(100vh - 72px);
}

/* Landing */
#landing-holder, .question-holder {
	min-height: calc(100vh - 56px);
	display: grid;
	grid-template-rows: .5fr .5fr;
}
#landing-holder h1 {
	margin-bottom: 72px;
	text-align: center;
	align-self: end;
	line-height: 1.4;
}
#landing-holder button {
	background: var(--indigo);
	position: relative;
	color: var(--white);
}
#arrow-right {
	height: 30px;
	width: 30px;
	right: 40px;
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
}
#landing-holder button, .question-btns, #retake-btn {
	height: 4rem;
	width: 23rem;
	font-size: 17px;
	font-weight: 600;
	border-radius: 35px 35px;
}

/* Questions */
.question {
	display: flex;
	flex-direction: column;
	gap: 3vh;
	text-align: center;
	align-self: end;
	margin-bottom: 64px;
}
.q-number {
	font-size: 24px;
}
.question h2 span {
	line-height: 1.4;
	font-weight: 500;
	font-size: 22px;
}
.btns-holder {
	display: flex;
	flex-direction: column;
	gap: 16px;
	position:relative;
	z-index: 1;
}

/* Bubbles */
.bubbles-holder {
	position: absolute;
	left: 0;
	top: -20px;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.top {
	box-shadow: inset 6px -6px 8px 2px rgba(0, 0, 0, 0.1), inset 4px 6px 4px rgba(0, 0, 0, 0.06), rgba(149, 157, 165, 0.2) 0px 8px 24px;
	filter: blur(1.2px);
}
.bottom {
	box-shadow: inset 6px 6px 8px 2px rgba(0, 0, 0, 0.1), inset 4px 6px 4px rgba(0, 0, 0, 0.06), rgba(149, 157, 165, 0.2) 0px 8px 24px;;
	filter: blur(1.2px);
}

/* Results */
#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
}
#title {
	width: 100vw;
}
#title p {
	text-align: center;
}
#playlist-title {
	font-family: "Tilt Warp";
	font-weight: 500;
	font-size: 64px;
	margin-top: 18px;
	text-align: center;
}
#main-iframe {
	height: 56vh;
	width: 93vw;
	border: none;
	margin-top: 5vh;
	opacity: .9 !important;
}
#retake-btn {
	margin-top: 88px;
	margin-bottom: 56px;
}

/* songs-holder */
#songs-holder {
	position: absolute;
	left: 0;
	right: 0;
	top: 128px;
	bottom: 0;
	z-index: 0;
	overflow-x: hidden;
	overflow-y: visible;
	filter: blur(2.3px);
}
.song-name {
	will-change: transform;
}

/* swiper */
#saved-playlists {
	margin-top: 88px;
	width: 100vw;
}
#saved-playlists-title {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	align-items: center;
	margin-bottom: 16px;
	padding: 0 32px;
}
#delete-btn {
	font-size: 14px;
	letter-spacing: .8px;
	border: unset;
	border-left: dotted .5px #a4a2a284;
	color: #605c5cac;
	background: unset;
	padding-left: 24px;
	height: 20px;
}

/* Swiper */
#swiper-holder {
	padding: 8px 0 24px 0;
	/* background-color: #6969697f; */
	display: flex;
	flex-direction: column;
}
.swiper {
	width: 100vw;
	height: 440PX;
}
.swiper-slide {
	border: unset;
}
.swiper-slide-shadow-coverflow {
	border-radius: 8px 8px;
	height: 440PX !important;
	background-image: unset;
}

/* content inside the swiper */
.framed {
	color: var(--black);
}
.swiper-content {
	position: relative;
	z-index: 1;
	height: calc(100% - 32px);
	display: grid;
	grid-template-rows: .2fr 1fr;
	align-items: end;
	gap: 16px;
	padding: 16px;
}
.swiper-slide-bg {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	overflow: hidden;
	height: 232px;
	border-radius: 8px 8px;
	border: unset;
}
.emoji-bg {
	transform: rotate(-20deg);
	font-size: 80px;
	width: 150%;
	height: 35vh;
	position: absolute;
	z-index: 1;
	top: -32px;
	left: -104px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	line-height: 1;
	opacity: .3;
	filter: blur(1.3px);
	pointer-events: none;
}
.emoji-bg-row {
	display: flex;
	gap: 8px;
}
.emoji-bg-row:nth-child(even) {
	margin-left: 40px;
}
.swiper-slide h2 {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 1px;
}
.prev-number, .next-number {
	position: absolute;
	z-index: 11;
	top: 50%;
	transform: translateY(-50%);
	font-size: 128px;
	color: var(--white);
	opacity: .8;
	font-weight: 500;
}
.prev-number {
	right: 5px;
}
.next-number {
	left: 5px;
}
.current-index {
	position: absolute;
	font-size: 208px;
	font-weight: 600;
	top: 64px;
}
.playlist-status {
	font-size: 16px;
	font-weight: 500;
	list-style: unset;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 16px;
}
.playlist-status li {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 6px;
}
.status-desc, .links-cta {
	font-size: 20px;
}
.links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: calc(100% - 16px);
	margin: 0 auto;
	position: relative;
	z-index: 1;
	margin-top: 16px;
	letter-spacing: 1px;
}
.app-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.app-type {
	display: flex;
	align-items: center;
	gap: 8px;
}
.apple {
	margin-top: 8px;
}
.links a, .link-btns, footer button {
	text-decoration: unset;
	color: var(--black);
}
.link-btns {
	height: 48px;
	width: 96px;
	border-radius: 10px 10px;
	font-size: 16px;
	font-weight: 300;
	box-shadow: inset 2px 2px 5px 4px rgba(0, 0, 0, 0.1), inset 2px 4px 2px rgba(0, 0, 0, 0.06);
}
.right-arrow {
	font-size: 22px;
}
.spotify-color {
	color: var(--spotify-green);
}
.apple-color {
	color: var(--apple-red);
}
.app-logos {
	/* transform: rotate(-5deg); */
	font-size: 36px;
}
.app-names {
	font-weight: 600;
}
.divider {
	height: 2px;
	width: calc(100% - 16px);
	margin: 0px 4px;
}
.framed-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	border-radius: 10px 10px;
}


/*--- Footer ---*/
footer {
	min-height: 40px;
	padding: 0 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absollute;
	bottom: 0;
}
#lang-setting {
	display: flex;
	align-items: center;
	gap: 8px;
}
footer button {
	height: 1.4rem;
	width: 4rem;
	font-size: .8rem;
	border: unset;
	border: solid .5px var(--black);
	border-radius: 12px 12px;
}